<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <body>
        <!-- Responsive navbar-->
        <%- include('../includes/navbar.ejs') %>
        <!-- Header-->
        
        <%- body %>
       
        <%- include('../includes/footer.ejs') %>
       
        
    </body>
</html>
