<div class="main-panel" id="main-panel">
    <!-- Navbar -->
        <!-- End Navbar -->
        <div class="panel-header panel-header-sm">
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body erroradmin">
                            <h1 class="text-warning"><i class="fa fa-exclamation-triangle" aria-hidden="true" ></i> 404</h1>
                            <h2 class="text-danger">Oops... Page Not Found!</h2>
                            
                            
                    
                            <p><a class="btn btn-danger" href="/admin/dashboard">Admin Home</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
        
</div>