<footer>
    <div class="container">
        <div class="row d-flex justify-content-between py-5">
            <div class="footer-logo">
                <img src="/front/assets/images/logo.jpg">
            </div>
            <div class="footer-menu">
                <ul>
                    <li><a href="#">Birthday</a></li>
                    <li><a href="#">Anniversary</a></li>
                    <li><a href="#">Holidays</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">How it work</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>

        </div>
        <div class="row d-flex justify-content-center py-1">
            <p>
                © 2022 Xig wishes (Perion Network Ltd.).All rights reserved.
            </p>
        </div>
    </div>
</footer>
