<footer>
    <div class="container">
        <div class="row d-flex justify-content-between py-5">
            <div class="footer-logo">
                <img src="/front/assets/images/logo.jpg">
            </div>
            <div class="footer-menu">
                <ul>
                    <li><a href="/others/terms-condition">Terms & Condition</a></li>
                    <li><a href="/others/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/others/about-us">About Us</a></li>
                    <li><a href="/others/cancelation-refund">Cancelation Refund</a></li>
                    <li><a href="/others/support">Support</a></li>
                    <li><a href="/others/contact-us">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="row d-flex justify-content-center py-1">
            <p>
                © 2022 Xig wishes (Perion Network Ltd.).All rights reserved.
            </p>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.1.slim.js" integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- <script src="/front/assets/js/jquery.min.js"></script> -->
<script src="/front/assets/js/popper.min.js"></script>
<script src="/front/assets/js/bootstrap.js"></script>
<script src="/front/assets/js/owl.carousel.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<script>
    $(document).ready(function () {

        
                        // Toastify({
                        // text: "kkkkkklllll",
                        // duration: 3000,
                        // newWindow: true,
                        // close: true,
                        // gravity: "top", // `top` or `bottom`
                        // position: "left", // `left`, `center` or `right`
                        // stopOnFocus: true, // Prevents dismissing of toast on hover
                        // style: {
                        //     background: "linear-gradient(to right, #ed213a, #93291e)",
                        // },
                        // onClick: function(){} // Callback after click
                        // }).showToast();

        var owl = $('.owl-carousel');
        owl.owlCarousel({
            margin: 10,
            dots: false,
            nav: true,
            loop: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        })

        /// custom alert close
        $(".closealert").click(function () {
            $(".alert").toggleClass("hidealert");
        });

        ////datatable
        //$('#example').DataTable();
    })
    $('.music').owlCarousel({
        loop: true,
        margin: 10,
        dots: false,
        nav: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 5
            }
        }
    })
    ////
    $('.birthday2').owlCarousel({
            loop: true,
            margin: 15,
            dots: false,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 3
                }
            }
        })
</script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>