<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Xigwishes | Front</title>
  <meta name="description" content="Dashboard v.2.0 | Front">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/front/assets/css/bootstrap.css">
  <link rel="stylesheet" href="/front/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/front/assets/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">

  <link rel="stylesheet" href="/front/assets/css/custom.css">


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Select2 -->
    <link rel="stylesheet" href="/front/assets/select2/css/select2.min.css">

  <!-- html2canvas -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.esm.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.js"></script>
  <!-- custom css -->
  <!-- <link rel="stylesheet" href="/front/custom/css/style.css"> -->

</head>