<section>
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Our Milestones</h1>
                        <div class="row bg-primary">
                            <div class="col-4 d-flex justify-content-around my-5">
                                <div class="milestone_item">
                                    <p class="milestone_p1"><%=themeCount%></p>
                                    <p class="milestone_p2">Available Themes</p>
                                </div>
                            </div>
                            <div class="col-4 d-flex justify-content-around my-5">
                                <div class="milestone_item">
                                    <p class="milestone_p1"><%=usersActiveCount%></p>
                                    <p class="milestone_p2">Active Users</p>
                                </div>
                            </div>

                            <div class="col-4 d-flex justify-content-around my-5">
                                <div class="milestone_item">
                                    <p class="milestone_p1"><%=ipCount%></p>
                                    <p class="milestone_p2">Views</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>