<header class="padding-both ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-between align-items-center">
                <div class="logo">
                    <a href="#"><img alt="logo" src="/front/assets/images/logo.png"></a>
                </div>
                <div class="main-panel">
                    <div class="main-menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/temp">Template</a></li>
                            <li><a href="/package">Choose Package</a></li>
                            <li><a href="/contact/anniversary-list">My Anniversary List</a></li>
                            <li><a href="/contact">My Birthday List</a></li>
                            <li><a href="/user/profile">My Profile</a></li>
                        </ul>
                    </div>
                </div>
                <div class="signup">
                    <ul>
                        <li><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
                        <li><a href="/logout">Log Out</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#signupModal">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>