 <!-- Header top area start-->
 <div class="header-top-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="admin-logo">
                    <a href="#"><img src="/front/assets/img/logo/xigmalogo.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-0 col-xs-12">
                <div class="header-top-menu">
                    <ul class="nav navbar-nav mai-top-nav">
                        <li class="nav-item"><a href="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item"><a href="/temp" class="nav-link">Template</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-9 col-sm-6 col-xs-12">
                <div class="header-right-info">
                    <ul class="nav navbar-nav mai-top-nav header-right-menu">
                        
                        
                        <li class="nav-item">
                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                <span class="adminpro-icon adminpro-user-rounded header-riht-inf"></span>
                                <span class="admin-name">Action</span>
                                <span class="author-project-icon adminpro-icon adminpro-down-arrow"></span>
                            </a>
                            <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated flipInX">
                                <li><a href="/contact"><span class="adminpro-icon adminpro-home-admin author-log-ic"></span>My Contact</a>
                                </li>
                                <li><a href="/user/profile"><span class="adminpro-icon adminpro-user-rounded author-log-ic"></span>My Profile</a>
                                </li>
                                <li><a href="/logout"><span class="adminpro-icon adminpro-locked author-log-ic"></span>Log Out</a>
                                </li>
                            </ul>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header top area end-->