<header class="padding-both ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-between align-items-center">
                <div class="logo">
                    <a href="/home"><img alt="logo" src="/front/assets/images/logo.png"></a>
                </div>
                <div class="main-panel">
                    <div class="main-menu">
                        <!-- <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/temp">Template</a></li>
                            <li><a href="/package">Choose Package</a></li>
                            <li><a href="/contact/anniversary-list">My Anniversary List</a></li>
                            <li><a href="/contact">My Birthday List</a></li>
                            <li><a href="/user/profile">My Profile</a></li>
                        </ul> -->
                        <!-- <ul>
                                <li><a href="/birthday">Birthday </a></li>
                                <li><a href="/anniversary">Anniversary</a></li>
                                <li><a href="#">Holidays</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">How it work</a></li>
                                <li><a href="#">Blog</a></li>
                        </ul> -->
                        
                        <nav id="nav">
                            <ul>
                              <li><span class="submenu">Birthday</span>
                                <ul class="submenu">
                                    <li><a href="/birthday">Birthday Card</a></li>
                                    <li><a href="/birthday/list">My Birthday List</a></li>
                                    <li><a href="/birthday/add-birthday">Add Birthday</a></li>
                                </ul>
                              </li>
                              <li><span class="submenu">Anniversary</span>
                                <ul class="submenu">
                                    <li><a href="/anniversary">Anniversary Card</a></li>
                                    <li><a href="/anniversary/list">My Anniversary List</a></li>
                                    <li><a href="/anniversary/add-anniversary">Add Anniversary</a></li>
                                </ul>
                              </li>
                              <li><a href="/holidays">Holidays</a></li>
                              <% if (!loginAuthCheck) { %>
                                <li><a data-toggle="modal" data-target=".bd-example-modal-lg" href="#">Pricing</a></li>
                                <% }else{ %>
                                <% } %> 
                                <li><a href="/others/how-it-work">How it work</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                

                <% if (loginAuthCheck) { %>
                <div class="login-under">
                    <div class="btn-group">
                        
                        
                        <div class="dropdown">
                            <button class="afterlogindiv dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </button>
                            <div class="dropdown-menu csutom-dropdown" aria-labelledby="dropdownMenuButton">
                              <div class="profile-div">
                                  <div class="profile-pic-div">
                                      <i class="fa fa-user" aria-hidden="true"></i>
                                  </div>
                                  <div class="con-rit-div">
                                      <!-- <h3>Another action</h3> -->
                                      <p style="font-size:1.1rem; font-weight: 600;"><%= loginAuthEmail %></p>
                                      <% if(accountExpireDays == 0){ %> 
                                        <p style="font-size:0.8rem; color:red;">Account will be Expire today</p>
                                        <% }else if(accountExpireDays > 0){ %>
                                            <p style="font-size:0.8rem; color:green;">Account will be Expire with in <%= accountExpireDays  %> days</p>
                                        <% }else{ %>
                                            <p style="font-size:0.8rem; color:red;">Account expired</p>
                                        <% } %>
                                      
                                  </div>
                              </div>
                              <a class="dropdown-item" href="/profile">My Profile</a>
                            <% if(!globalUserData.authprovider)  { %>
                              <a class="dropdown-item" href="/change-password">Change Password</a>
                            <% } %>

                              <a class="dropdown-item" href="/birthday/fav-theme">My fav Birthday Theme</a>
                              <a class="dropdown-item" href="/anniversary/fav-theme">My fav Anniversary Theme</a>
                              <a class="dropdown-item" href="/holidays/fav-theme">My fav Holiday Theme</a>
                              <a class="dropdown-item" href="/others/request-customized-banner">Request Customized Banner</a>
                              <a class="dropdown-item" href="/birthday/upcoming">Upcoming Birthday</a>
                              <a class="dropdown-item" href="/anniversary/upcoming">Upcoming Anniversary</a>
                              <a class="dropdown-item" href="/package">Package</a>
                              <a class="dropdown-item" href="/others/about-us">About Us</a>
                              <a class="dropdown-item" href="/logout">Log out</a>
                            </div>
                          </div>
                      </div>

                    </div>
                

                <% }else{ %>
                <div class="signup">
                    <ul>

                        <li><a data-toggle="modal" data-target="#LogInModal" href="#">Login</a></li>
                        <li><a data-toggle="modal" data-target="#signUpModal" href="#">Sign Up</a></li>
                        <!-- <li><a data-toggle="modal" data-target=".bd-example-modal-lg" href="#">Package</a></li> -->

                    </ul>
                </div>
                <% } %>



            </div>
        </div>
    </div>
</header>