<div class="w-100">
    <h1 class="form-title">
        Explore 1000s of Designs
    </h1>
</div>

<div class="w-100 switch-wrapper">
    <div>Already have an account?</div>
    <div> <a class="sign-in" href="/login">Log In</a></div>
</div>

<div class="w-100 text-center">
    <a class="social-text" href="#">
        Log In with:
    </a>
</div>

<div class="d-flex justify-content-between py-2">
    <div class="social-sign-btn sign-facebook">
        Facebook
    </div>
    <div class="social-sign-btn sign-google">
        Google
    </div>
</div>

<div class="w-100 text-center">
    <a class="social-text" href="#">
        - or create an account -
    </a>
</div>
<form id="signupSubmitForm" class="adminpro-form" method="POST" action="/signup/action/ajax">
    <div class="row form-box">
        <div class="col-md-6">
            <input type="text" id="name" name="name" placeholder="Please enter Name" />
        </div>
        <div class="col-md-6">
            <input type="email" id="email" name="email" placeholder="Please enter email" />
        </div>
        <div class="col-md-6">
            <input type="text" id="mobile" name="mobile" placeholder="Please enter mobile" />
        </div>
        <div class="col-md-6">
            <input type="password" id="password" name="password" placeholder="Please enter password" />
        </div>
        <!-- <div class="form-check-inline form-in">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">
                I want to receive updates, exclusive sales and offers
            </label>
        </div> -->
    </div>

    <div class="w-100 text-center Pricing-text">
        By joining, I agree to the
        <a class="" href="#">
            Terms of Service
        </a>
        and <a href="#">Privacy Policy</a>
    </div>
    <div class="w-100 text-center Pricing-text">
        <input class="sb-submit-btn" value="Sign Up" type="submit">
    </div>
</form>