<section class="bd_banner">
    <div class="bd_banner_main text-center">
        <h1>Change Password</h1>
    </div>

</section>

<section class="form-area">
    <div class="container">
        <div class="row d-flex justify-content-center forget-password">

            <form action="/change-password/action" method="post">
                <div class="panel-body">
                    <div class="form-group">
                        <label>Current Password</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i
                                    class="glyphicon glyphicon-envelope color-blue"></i></span>
                            <input id="forgetAnswer" name="currentpassword" placeholder="Please Enter current Password"
                                class="form-control" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i
                                    class="glyphicon glyphicon-envelope color-blue"></i></span>
                            <input id="forgetAnswer" name="newpassword" placeholder="Please Enter new Password"
                                class="form-control" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Reinseret New Password</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i
                                    class="glyphicon glyphicon-envelope color-blue"></i></span>
                            <input id="forgetAnswer" name="renewpassword" placeholder="Please Re Enter New Password"
                                class="form-control" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <input name="btnForget" class="btn btn-lg btn-primary btn-block btnForget"
                            value="Reset Password" type="submit">
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>