<section class="banner-panel">
    <div class="owl-carousel owl-theme">
        <div class="item">
            <img alt="" src="/front/assets/images/banner.jpg">
        </div>
        <div class="item">
            <img alt="" src="/front/assets/images/banner.jpg">
        </div>
        <div class="item">
            <img alt="" src="/front/assets/images/banner.jpg">
        </div>
    </div>
    <div class="popup-box">
        <%- include('../../includes/loginComponent.ejs') %>
    </div>
</section>