<div class="breadcome-area mg-t-40 mg-b-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcome-list shadow-reset">
                    <!-- Support -->
                </div>
            </div>
        </div>
    </div>
</div>

<section class="mg-b-40  custommaincss">
    <div class="container">
        <h1 class="text-center mb-2"> Request Customized Banner </h1>
        <h5>Contact us for unique banner design only for you or your company. Charges starts from INR 499/- (one time) Only.</h5>
        <div class="row mt-4 mb-1 contact_main_div">
            
            <div class="col-12 mb-4  ">
                <form class="mt-4" action="/others/request-customized-banner/action" method="POST" >
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Name</label><span class="c-red">*</span>
                        <input type="text" name="namecustom" readonly value="<%= data.name %>" class="form-control" id="namecustom"
                            placeholder="Enter Message Title">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Email</label><span class="c-red">*</span>
                        <input type="email" name="emailcustom" readonly value="<%= data.email %>" class="form-control" id="emailcustom"
                            placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Phone</label><span class="c-red">*</span>
                        <input type="phone" name="mobilecustom" readonly value="<%= data.mobile %>" class="form-control" id="mobilecustom"
                            placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlmessage">Requirement</label><span class="c-red">*</span>
                        <textarea class="form-control" name="requirementcustom" id="requirementcustom" rows="5"></textarea>
                    </div>
                    <!-- <div class="form-group">
                        <label for="exampleFormControlFile1">Additional File</label>
                        <input type="file" name="additionalcustom" class="form-control" id="additionalcustom">
                    </div> -->
                    <center>
                        <button type="submit" class="btn btn-outline-info btn-lg">Submit</button>
                    </center>
                </form>
            </div>
        </div>
    </div>
</section><hr/>


        <!-- <%- include('../../includes/milestone.ejs') %> -->

    </div>
</div>