<div class="breadcome-area mg-t-40 mg-b-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcome-list shadow-reset">
                    <!-- Support -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mg-b-40 custommaincss">
    <div class="container">
        <section class="featured-panel">
            <div class="container">
                <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                
                                <div class="grid-box-panel">
                                  
                                    <div class="image-small about_p">
                                        <!-- <img src="/front/assets/images/weddding.jpg"> -->
                                    </div>
                                    
                                    <div class="container">
                                        <div class="row">
                                    
                                          <div class="col-md-12">
                                            <h1 class="text-warning"><i class="fa fa-exclamation-triangle" aria-hidden="true" ></i> 404</h1>
                                            <h2 class="text-danger">Oops... Page Not Found!</h2>
                                            
                                              
                                    
                                            <p><a href="/admin/dashboard">Admin Home</a></p>
                                    
                                            
                                          </div>
                                        </div>
                                      </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
     
    </div>
</div>