<div class="breadcome-area mg-t-40 mg-b-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcome-list shadow-reset">
                    <!-- Privacy Policy -->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="mg-b-40 custommaincss">
    <div class="container">


        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline12-list shadow-reset mg-t-30">
                    <div class="sparkline12-hd">
                        <div class="main-sparkline12-hd">
                            <h1>Privacy Policy</h1>
                            <!-- <div class="sparkline12-outline-icon">
                                <span class="sparkline12-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                <span><i class="fa fa-wrench"></i></span>
                                <span class="sparkline12-collapse-close"><i class="fa fa-times"></i></span>
                            </div> -->
                        </div>
                    </div>
                    <div class="sparkline12-graph">
                        <div class="basic-login-form-ad">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="all-form-element-inner">
                                            <%- include('../../includes/alert.ejs') %>
                                               <div class="col-md-12">
                                                <p>This privacy policy (“Privacy Policy”) governs how we, xigwishes Inc., and any of its affiliated companies (together, “xigwishes” “we”, “our” or “us”) use, collect and store Personal Data we collect or receive from or about you (“User”, “you”) such as in the following use cases:

                                                    (i) When you browse or visit our website, https://www.xigwishes.com/ (“Website”);
                                                    
                                                    (ii) When you make use of, or interact with, our Website:
                                                    a. When you create an account, log in, or purchase our through the Software & Services in our Website
                                                    b. When you make use of our Software & Services in the Website
                                                    c. When you leave a comment on our blog
                                                    d. When you contact us (e.g. customer support, need help, submit a request)
                                                    
                                                    (iii) When you install, use, access or interact with xigwishes’s services, products, technology, software and/or software components (each individually, and collectively, the “Software & Services”), through our mobile software application, including when you:
                                                    a. When you access our Software & Services
                                                    b. When you download our software application, create an account, and log in
                                                    c. When you subscribe to our mailing list
                                                    
                                                    (iv) When we use the Personal Data of our service providers and suppliers;
                                                    
                                                    (v) When we use the personal data of our customers (e.g., contact details); and
                                                    
                                                    (vi) When you interact with us on our social media profiles (e.g., Facebook, Instagram, Twitter, YouTube, Pinterest).
                                                    
                                                    We believe strongly in protecting the privacy of information entrusted to us. We acknowledge that you may have privacy and security concerns with respect to the information we collect, use, and disclose to third parties for the purpose of allowing us to offer and provide our Software & Services, so we have provided this Privacy Policy to explain, in a clear and plain language as possible, how we collect and use information. You will also find an explanation of certain rights you have (see the “Your Rights” Section) in respect of your Personal Information.
                                                    
                                                    Please read this Privacy Policy carefully, so you can fully understand our practices in relation to Personal Data. “Personal Data” or “Personal Information” means any information that can be used, alone or together with other data, to uniquely identify any living human being. Please note that this is a master privacy policy and some of its provisions only apply to individuals in certain jurisdictions. For example, the legal basis in the table below is only relevant for GDPR-protected individuals, and the sources are only relevant for CCPA- protected individuals. Nothing in this Privacy Policy is intended to limit in any way your statutory right, including your rights to a remedy or means of enforcement.</p>
                                               </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>