<div class="footer-copyright-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-copy-right">
                    <p>Copyright &#169; 2018 Colorlib All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End-->

<!-- jquery
    ============================================ -->
<script src="/admin/assets/js/vendor/jquery-1.11.3.min.js"></script>
<!-- bootstrap JS
    ============================================ -->
<script src="/admin/assets/js/bootstrap.min.js"></script>
<!-- meanmenu JS
    ============================================ -->
<script src="/admin/assets/js/jquery.meanmenu.js"></script>
<!-- mCustomScrollbar JS
    ============================================ -->
<script src="/admin/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- sticky JS
    ============================================ -->
<script src="/admin/assets/js/jquery.sticky.js"></script>
<!-- scrollUp JS
    ============================================ -->
<script src="/admin/assets/js/jquery.scrollUp.min.js"></script>
<!-- scrollUp JS
    ============================================ -->
<script src="/admin/assets/js/wow/wow.min.js"></script>
<!-- counterup JS
    ============================================ -->
<script src="/admin/assets/js/counterup/jquery.counterup.min.js"></script>
<script src="/admin/assets/js/counterup/waypoints.min.js"></script>
<script src="/admin/assets/js/counterup/counterup-active.js"></script>
<!-- jvectormap JS
    ============================================ -->
<script src="/admin/assets/js/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
<script src="/admin/assets/js/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="/admin/assets/js/jvectormap/jvectormap-active.js"></script>
<!-- peity JS
    ============================================ -->
<script src="/admin/assets/js/peity/jquery.peity.min.js"></script>
<script src="/admin/assets/js/peity/peity-active.js"></script>
<!-- sparkline JS
    ============================================ -->
<script src="/admin/assets/js/sparkline/jquery.sparkline.min.js"></script>
<script src="/admin/assets/js/sparkline/sparkline-active.js"></script>
<!-- flot JS
    ============================================ -->
<script src="/admin/assets/js/flot/jquery.flot.js"></script>
<script src="/admin/assets/js/flot/jquery.flot.tooltip.min.js"></script>
<script src="/admin/assets/js/flot/jquery.flot.spline.js"></script>
<script src="/admin/assets/js/flot/jquery.flot.resize.js"></script>
<script src="/admin/assets/js/flot/jquery.flot.pie.js"></script>
<script src="/admin/assets/js/flot/jquery.flot.symbol.js"></script>
<script src="/admin/assets/js/flot/jquery.flot.time.js"></script>
<script src="/admin/assets/js/flot/dashtwo-flot-active.js"></script>
<!-- data table JS
    ============================================ -->
<script src="/admin/assets/js/data-table/bootstrap-table.js"></script>
<script src="/admin/assets/js/data-table/tableExport.js"></script>
<script src="/admin/assets/js/data-table/data-table-active.js"></script>
<script src="/admin/assets/js/data-table/bootstrap-table-editable.js"></script>
<script src="/admin/assets/js/data-table/bootstrap-editable.js"></script>
<script src="/admin/assets/js/data-table/bootstrap-table-resizable.js"></script>
<script src="/admin/assets/js/data-table/colResizable-1.5.source.js"></script>
<script src="/admin/assets/js/data-table/bootstrap-table-export.js"></script>
<!-- main JS
    ============================================ -->
<script src="/admin/assets/js/main.js"></script>