<section class="banner-panel">
    <div class="owl-carousel owl-theme">
        <div class="item">
            <img alt="" src="/front/assets/images/banner.jpg">
        </div>
        <div class="item">
            <img alt="" src="/front/assets/images/banner.jpg">
        </div>
        <div class="item">
            <img alt="" src="/front/assets/images/banner.jpg">
        </div>
    </div>
    <div class="popup-box">
        <%- include('../../includes/signupComponent.ejs') %>
    </div>
</section>

<section class="work-panel">
    <div class="container">
        <div class="row text-center ">
            <div class="col-md-12">
                <h2>
                    How It works
                </h2>
                <p>
                    With xigwishes it's easy to wish and send greetings to your<br> 
                    friends family employees and corporates
                </p>
            </div>
        </div>

        <div class="row d-flex justify-content-around">
            <div class="col-md-7">
                <div class="gift-box">
                    <img alt="" src="/front/assets/images/gift--box.jpg">
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-between">
            <div class="col-md-4 text-center">
                <div class="step-box">
                    <h3>Step 01</h3>
                    <p>
                        Choose your favorite design for any occasion
                    </p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="step-box">
                    <h3>Step 02</h3>
                    <p>
                        Choose your favorite design for any occasion
                    </p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="step-box">
                    <h3>Step 03</h3>
                    <p>
                        Choose your favorite design for any occasion
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="end-less-panel">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Endless ways to make</h2>
                <p>your design your own.</p>
            </div>
        </div>
        
        <div class="slider-box">
            <div class="owl-carousel music owl-theme">
                <div class="item">
                    <img alt="" src="/front/assets/images/music1.jpg">
                    <h4>MUSIC</h4>
                    <p>Upload or choose from playlist</p>
                </div>
                <div class="item">
                    <img alt="" src="/front/assets/images/music2.jpg">
                    <h4>UNLIMITED STORAGE</h4>
                    <p>Enough room for all your creations</p>
                </div>
                <div class="item">
                    <img alt="" src="/front/assets/images/music3.jpg">
                    <h4>IMAGE</h4>
                    <p>Add your favorite photos</p>
                </div>
                <div class="item">
                    <img alt="" src="/front/assets/images/music4.jpg">
                    <h4>TEXT</h4>
                    <p>Customize your message</p>
                </div>
                <div class="item">
                    <img alt="" src="/front/assets/images/music5.jpg">
                    <h4>RSVP</h4>
                    <p>Track guest attendance</p>
                </div>
                <div class="item">
                    <img alt="" src="/front/assets/images/music1.jpg">
                    <h4>MUSIC</h4>
                    <p>Upload or choose from playlist</p>
                </div>
            </div>
        </div>

        <div class="callto-action">
            Get Started
        </div>
        
        <div class="col-md-12 mt-5">
            <hr>
        </div>

    </div>
</section>

<section class="featured-panel">
    <div class="container">
        <div class="row text-center ">
            <div class="col-md-12">
                <h2>
                    Features
                </h2>
                <p>
                    Quickly create beautiful invitations, slideshows, cards and collages, <br>
                    then share them with the people you love.

                </p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <div class="grid-box-panel">
                            <div class="image-small">
                                <img src="/front/assets/images/weddding.jpg">
                            </div>
                            <h3>Wedding</h3>
                            <p>
                                Quickly create beautiful invitations, slideshows, cards and collages, 
                                then share them with the people you love.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="grid-box-panel">
                            <div class="image-small">
                                <img alt="" src="/front/assets/images/party.jpg">
                            </div>
                            <h3>Private Party</h3>
                            <p>
                                Quickly create beautiful invitations, slideshows, cards and collages, 
                                then share them with the people you love.
                            </p>
                        </div>
                    </div>
                    
                    <div class="col-md-6 text-center">
                        <div class="grid-box-panel">
                            <div class="image-small">
                                <img src="/front/assets/images/birthday.jpg">
                            </div>
                            <h3>Birthday party</h3>
                            <p>
                                Quickly create beautiful invitations, slideshows, cards and collages, 
                                then share them with the people you love.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="grid-box-panel">
                            <div class="image-small">
                                <img src="/front/assets/images/party2.jpg">
                            </div>
                            <h3>Corporate Party</h3>
                            <p>
                                Quickly create beautiful invitations, slideshows, cards and collages, 
                                then share them with the people you love.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                asas
            </div>
        </div>
    </div>
</section>