<p>loader</p>
<p>loader</p>
<p>loader</p>
<p>loader</p>
<p>loader</p>
<p>loader</p>
<p>loader</p>


<script src="https://code.jquery.com/jquery-3.6.0.slim.js"
    integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    // $(document).ready(function () {
    //     localStorage.setItem("firstTimeUser", true);
    //     setTimeout(()=> {
    //         localStorage.setItem("firstTimeUser", false);
    //         location.href('http://localhost:9128');
    //     },3000)
    // });
</script>