

</head>

<body>
    <div class="container">
        <div class="row mt-2">
            <div class="col-6">
                <h1>Create Image Template</h1>
            </div>
            <div class="col-6 mt-2">
                <button class="btn btn-primary" id="download">Download</button>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <% for(var i=0; i< theme.length; i++) { %>
                        <div class="col-4">
                            <!-- <img class="img-fluid" src="http://localhost:9091/uploads/themes/<%= theme[i].name %>" /> -->
                            <img class="img-fluid" src="/<%= theme[i].name %>" />
                            <a href="/contact/temp/review/<%= userInfo.id %>/<%= theme[i].uniqueCode %>">Preview</a>                        </div>

                        <% } %>
                </div>
            </div>
     
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
