<section class="bd_banner">
    <div class="bd_banner_main text-center">
        <h1>Online Anniversary Invitations for a Party They’ll <br>Never Forget</h1>
        <p class="text-center">The birthday Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, quae.</p>
    </div>
    <div>
        <button class="btn bd_create_btn">Create Anniversary Invitation</button>
    </div>
</section>
<a href="/anniversary/list" class="btn btn-primary">Anniversary list</a>
<a href="/anniversary" class="btn btn-primary">Anniversary theme list</a>
<section class="form-area">
    <div class="container">
        <form action="/anniversary/add-anniversary/action" method="POST" enctype="multipart/form-data">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-10">
                <div class="row mb-3">
                    <div class="col-md-2">
                         <label>brideName</label> 
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="brideName"
                        placeholder="Enter your brideName..." name="brideName">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-2">
                         <label>groomName</label> 
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="groomName"
                        placeholder="Enter your groomName..." name="groomName">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-2">
                         <label>anniversaryday</label> 
                    </div>
                    <div class="col-md-10">
                         <input class="form-control date" name="anniversaryday" id="anniversaryday" type="date">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                         <label>Company Name</label> 
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="companyName" id="companyName">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                         <label>Email</label> 
                    </div>
                    <div class="col-md-10">
                        <input id="email" type="email" name="email" class="form-control">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-2">
                         <label>Phone</label> 
                    </div>
                    <div class="col-md-10">
                        <input id="phone" name="mobile" type="tel" placeholder="(123) 456-7890" class="form-control">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-2">
                         <label>Contact Pic</label> 
                    </div>
                    <div class="col-md-10">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="cpic" type="file" name="contactPic">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                          </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                         
                    </div>
                    <div class="col-md-10">
                        <button type="button" class="btn btn-primary">Reset</button>
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
</section>

