<!--Expire package Modal -->
<div class="modal fade  bd2-example-modal-lg" id="expiremodal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalCenterTitle">Alert - Your Packege Expire</h5> -->
                <h5 class="modal-title text-warning  expire_title" id="expiremodaltitle"><i
                        class="fa fa-exclamation-triangle" aria-hidden="true"></i> Alert - Your Packege Expire</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="">
                    <h5 class=" expire_body">
                        Your Plan Expire.Please Renew Your Package.
                    </h5>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="/package" class="btn btn-info">Subcribe Now</a>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.1.slim.js"
    integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        // $(".paybtns").click(function () {
        //     $('#packagemodal').modal('hide');
        //     $('#LogInModal').modal('show');
        // });
    });
</script>