<!DOCTYPE html>
<html>

<head>
    <title>Hello world</title>
</head>
<script src="https://cdn.socket.io/4.5.0/socket.io.min.js"
    integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
    crossorigin="anonymous"></script>



<body>Hello
    <div></div>
    <form action="">
        <input id="m" autocomplete="off" /><button type="submit">Send</button>
    </form>
</body>
<script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.1.slim.js" integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk=" crossorigin="anonymous"></script>
<script>
    const socket = io();

    $('form').submit(function(){
        var msg = $('#m').val();
        //alert(msg);
        socket.emit('frontent_send_msg', msg);
        $('#m').val('');
        return false;
    });
</script>

</html>