/* general */
#photo{
    background-color: #11ffee00;
}
.text-center{
    text-align: center;
}

.text-left{
    text-align: start;
}

.text-right{
    text-align: end;
}
.color-white{
    color: white;
    line-height: 1.2em;
}
/* end general */
/* temp1 */
.temp1 .card-footer-css {
    background-color: #333333;
    border-radius: 10px;
    height: max-content;
}

.temp1 .card-footer-logo {
    margin-top: 15rem;
    width: 50%;
    aspect-ratio: 1/1;
    border: 5px solid white;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 13rem;
}
.temp1 .card-footer-company-logo{
    margin-bottom: 1rem;
    width: 50px;
    aspect-ratio: 1/1;
    border: 5px solid white;
    background-color: white;
    border-radius: 50%;
}
/* end temp1 */

/* temp2 */
.temp2 .color-white{
    color: black;
    line-height: 1.2em;
}

.temp2 .card-footer-css {
    background-color: #333333;
    border-radius: 10px;
    height: max-content;
}

.temp2 .card-footer-logo {
    margin-top: 10rem;
    width: 100%;
    aspect-ratio: 1/1;
    border: 5px solid white;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.temp2 .card-footer-company-logo{
    margin-bottom: 1rem;
    width: 50px;
    aspect-ratio: 1/1;
    border: 5px solid white;
    background-color: white;
    border-radius: 50%;
}
.temp2 .footer{
    padding-top: 15rem;
}
/* end temp2 */


/* temp3 */
.temp3 .color-white{
    color: white;
    line-height: 1.2em;
}

.temp3 .card-footer-css {
    background-color: #333333;
    border-radius: 10px;
    height: max-content;
}

.temp3 .card-footer-logo {
    width: 100%;
    aspect-ratio: 1/1;
    border: 5px solid white;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.temp3 .card-footer-company-logo{
    margin-bottom: 1rem;
    width: 50px;
    aspect-ratio: 1/1;
    border: 5px solid white;
    background-color: white;
    border-radius: 50%;
}
.temp3 .footer{
    padding-top: 10rem;
}
/* end temp3 */

/* temp4 */
.temp4 .card-footer-css {
    background-color: #333333;
    border-radius: 10px;
    height: max-content;
}

.temp4 .card-footer-logo {
    width: 50%;
    aspect-ratio: 1/1;
    border: 5px solid white;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 13rem;
}
.temp4 .card-footer-company-logo{
    margin-bottom: 1rem;
    width: 50px;
    aspect-ratio: 1/1;
    border: 5px solid white;
    background-color: white;
    border-radius: 50%;
}
/* end temp4 */

/* temp5 */


.temp5 img{
    max-width: 100%;
}



.temp5 .main-warp {
    max-width: 605px;
    width: 100%;
    margin: 30px  auto;
    min-height: 507px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.temp5 .logo {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50px;
    float: right;
    overflow: hidden;
    margin-bottom: 30px;
}

.temp5 .logo img{
    max-width: 100%;
}

.temp5 .titel-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: 100px;
}

.temp5 .titel-box h2 {
    font-size: 48px;
    font-weight: 600;
}
.temp5 .titel-box p {
    font-size: 18px;
    padding-right: 10px;
    margin-top: 10px;
}

.temp5 .middle-box {
    width: 150px;
    height: 150px;
    border: #d58d8d 10px solid;
    border-radius: 50%;
    float: right;
    margin-top: 20px;
}

.temp5 .bottom-box {
    width: 90%;
    position: absolute;
    bottom: 20px;
    border-radius: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
}


@media only screen and (max-width: 600px) {
    .temp5 .middle-box {
        width: 100px;
        height: 100px;
    }
    .temp5 .titel-box h2 {
        font-size: 40px;
        font-weight: 600;
    }
    
    .temp5 .main-warp {
        margin: 0px  auto;
    }
    .temp5 .bottom-box {
        font-size: 16px;
    }

  }



/* html2canvas fixed screenshot */


.html2canvas-container { width: 3000px !important; height: 3000px !important; }

